.question {
    font-size: 30px;
    margin-bottom: 10px;
}

.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}

.answers label {
    display: block;
    margin-bottom: 10px;
}

.quiz-container {
    position: relative;
    min-height: 200px;
}

.quiz-slide {
    position: relative;
    left: 0px;
    display: none;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.quiz-active {
    opacity: 1;
    z-index: 2;
    display: block;
}