body {
    background-color: #9dbfe4;
}

#login-page {
    margin-right: auto;
    /*background-image: url(../img/worker.jpg);*/
    background-color: #9dbfe4;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: cover;
    height: 100vh;
    margin-left: auto;
    width: 80%;
    left: 50px;
}

.login-card {
    top: 25vh;
    width: 400px;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.help-block-error {
  margin-top: 0.5em;
  color: #a94442;
}

.md-form {
  margin-top: 0px;
}

input[type=checkbox],
input[type=radio] {
  visibility: hidden;
}

.opening {
  top: 40vh;
  margin-left: 70px;
  width: 500px;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.stepwizard-step p {
  margin-top: 10px;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 50%;
  position: relative;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.lanius-light {
  color: #34d0ff !important;
}

.lanius-medium {
  color: #28a5f7 !important;
}

.lanius-dark {
  color: #1970eb !important;
}


.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.loading,
.loading:before,
.loading:after {
  background: #28a5f7;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 2em;
}

.loading {
  color: #28a5f7;
  text-indent: -9999em;
  margin: 25px auto;
  position: relative;
  font-size: 10px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loading:before,
.loading:after {
  position: absolute;
  top: 0;
  content: '';
}

.loading:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loading:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {

  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {

  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.fgd-creator {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50% !important;
}

.report {
  object-fit: cover;
  width: 114px;
  height: 65px;
}

.custom-checkbox label {
  cursor: pointer;
}

.custom-checkbox {
  margin-bottom: 0.5rem;
}

#invite-box {
  border-bottom: 1px solid #dddfe2;
  border-top: 1px solid #dddfe2;
  padding: 5px;
}

#invite-box-footer {
  padding: 10px;
}

.list-user {
  border-right: 1px solid #dddfe2;
}

.loading-dot:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}
.loading-dot-white:after {
  content: ' .';
  animation: dotsw 1s steps(5, end) infinite;
}
@keyframes dots {

  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: black;
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow:
      .25em 0 0 black,
      .5em 0 0 black;
  }
}

@keyframes dotsw {

  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #login-page{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
  }

  .opening {
    top: 0vh;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    display: block;
  }

  .login-card{
     top: 0vh;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    display: block;
  }
} 